server:
  port: 8977
spring:
  application:
    name: zipkin-pong
  zipkin:
    baseUrl: http://localhost:9411
  sleuth:
    sampler:
      percentage: 1
eureka:
  client:
    serviceUrl:
      defaultZone: http://admin:admin@localhost:8761/eureka/